
/* body */

body {
    margin: 0;
}

/* Container to center the login box */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2A88C8;
    margin: 0;
  }
  
  /* Login Box */
  .login-box {
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    text-align: center;
  }
  
  /* Logo */
  .logo img {
    width: 80px;
    margin-bottom: .5rem;
  }

  .logo .slogan {
    margin: 0;
    color: #6b6a6a;
    font-size: 20px;
  }
  
  .logo h2 {
    margin: 1rem;
    font-size: 1.8rem;
    color: #2A88C8;
  }
  
  /* Forgot Password */
  .forgot-password {
    text-align: right;
    margin-bottom: 1rem;
  }
  
  .forgot-password a {
    color: #2980b9;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }
  
  /* Submit Button */
  .login-btn {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .login-btn:hover {
    background-color: #2980b9;
  }

/* Input Group Container */
.input-group {
    position: relative;
    margin: 20px 0;
  }
  
  /* Input Field */
  .input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .input-group input:focus {
    border-color: #3498db;
  }
  
  /* Floating Label */
  .floating-label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: #888;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  /* Floating Behavior */
  input:focus ~ .floating-label,
  input:not(:placeholder-shown) ~ .floating-label {
    top: -8px;
    left: 12px;
    font-size: 15px;
    color: #3498db;
    opacity: 1;
    background-color: white;
  }
  